* {
  /* border: 1px solid red !important; */
}

.marker-tooltip {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.marker-tooltip > div:first-child {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: end;
  width: 100%;
  gap: 10px;
  margin-bottom: 10px;
}

.marker-tooltip > div:first-child > img {
  width: 80px !important;
  height: 80px !important;
  margin-left: 10px;
  border-radius: 10px;
}

.custom-tooltip.leaflet-tooltip::before,
.custom-tooltip.leaflet-tooltip::after {
  display: none !important;
}
